<script>
  $(function() {
    $("#conditions").accordion({ header: "div.condition-title", collapsible: true, active: false });
  });
</script>

<section id="conditions">
  <h3>Conditions</h3>
  <div class="condition-title">
    <h4>CPR</h4>
    <i class="fa fa-bars"></i>
  </div>
  
  <div>
    
  </div>
  <div class="condition-title">
    <h4>Seizure</h4>
    <i class="fa fa-bars"></i>
  </div>
  <div>
    <div class="drugs">
      <h5>Drugs</h5>
      <ul>
        <li>Ativan: <%= ativan(@weight_in_kgs) %> mg</li>
        <li>Tylenol: <%= tylenol(@weight_in_kgs) %> mg</li>
      </ul>
    </div>
    <div class="watch-for">
      <h5>Watch for</h5>
      <ul>
        <li>Fever</li>
        <li>Mental status changes</li>
        <li>Trauma</li>
        <li>Hypoglycemia</li>
      </ul>
    </div>
    <div class="ask-parents">
      <h5>Ask parents</h5>
      <ul>
        <li>History of seizures?</li>
        <li>Recent fever?</li>
        <li>How long was the seizure?</li>
        <li>What did the seizure look like?</li>
      </ul>
    </div>
    <div class="be-sure-to">
      <h5>Be sure to</h5>
      <ul>
        <li>Check blood sugar</li>
        <li>Check temperature</li>
        <li>IV if afebrile</li>
        <li>12 lead EKG</li>
      </ul>
    </div>
  </div>
  <div class="condition-title">
    <h4>Seizure</h4>
    <i class="fa fa-bars"></i>
  </div>
  <div>
    <div class="drugs">
      <h5>Drugs</h5>
      <ul>
        <li>Ativan: <%= ativan(@weight_in_kgs) %> mg</li>
        <li>Tylenol: <%= tylenol(@weight_in_kgs) %> mg</li>
      </ul>
    </div>
    <div class="watch-for">
      <h5>Watch for</h5>
      <ul>
        <li>Fever</li>
        <li>Mental status changes</li>
        <li>Trauma</li>
        <li>Hypoglycemia</li>
      </ul>
    </div>
    <div class="ask-parents">
      <h5>Ask parents</h5>
      <ul>
        <li>History of seizures?</li>
        <li>Recent fever?</li>
        <li>How long was the seizure?</li>
        <li>What did the seizure look like?</li>
      </ul>
    </div>
    <div class="be-sure-to">
      <h5>Be sure to</h5>
      <ul>
        <li>Check blood sugar</li>
        <li>Check temperature</li>
        <li>IV if afebrile</li>
        <li>12 lead EKG</li>
      </ul>
    </div>
  </div><div class="condition-title">
    <h4>Seizure</h4>
    <i class="fa fa-bars"></i>
  </div>
  <div>
    <div class="drugs">
      <h5>Drugs</h5>
      <ul>
        <li>Ativan: <%= ativan(@weight_in_kgs) %> mg</li>
        <li>Tylenol: <%= tylenol(@weight_in_kgs) %> mg</li>
      </ul>
    </div>
    <div class="watch-for">
      <h5>Watch for</h5>
      <ul>
        <li>Fever</li>
        <li>Mental status changes</li>
        <li>Trauma</li>
        <li>Hypoglycemia</li>
      </ul>
    </div>
    <div class="ask-parents">
      <h5>Ask parents</h5>
      <ul>
        <li>History of seizures?</li>
        <li>Recent fever?</li>
        <li>How long was the seizure?</li>
        <li>What did the seizure look like?</li>
      </ul>
    </div>
    <div class="be-sure-to">
      <h5>Be sure to</h5>
      <ul>
        <li>Check blood sugar</li>
        <li>Check temperature</li>
        <li>IV if afebrile</li>
        <li>12 lead EKG</li>
      </ul>
    </div>
  </div><div class="condition-title">
    <h4>Seizure</h4>
    <i class="fa fa-bars"></i>
  </div>
  <div>
    <div class="drugs">
      <h5>Drugs</h5>
      <ul>
        <li>Ativan: <%= ativan(@weight_in_kgs) %> mg</li>
        <li>Tylenol: <%= tylenol(@weight_in_kgs) %> mg</li>
      </ul>
    </div>
    <div class="watch-for">
      <h5>Watch for</h5>
      <ul>
        <li>Fever</li>
        <li>Mental status changes</li>
        <li>Trauma</li>
        <li>Hypoglycemia</li>
      </ul>
    </div>
    <div class="ask-parents">
      <h5>Ask parents</h5>
      <ul>
        <li>History of seizures?</li>
        <li>Recent fever?</li>
        <li>How long was the seizure?</li>
        <li>What did the seizure look like?</li>
      </ul>
    </div>
    <div class="be-sure-to">
      <h5>Be sure to</h5>
      <ul>
        <li>Check blood sugar</li>
        <li>Check temperature</li>
        <li>IV if afebrile</li>
        <li>12 lead EKG</li>
      </ul>
    </div>
  </div><div class="condition-title">
    <h4>Seizure</h4>
    <i class="fa fa-bars"></i>
  </div>
  <div>
    <div class="drugs">
      <h5>Drugs</h5>
      <ul>
        <li>Ativan: <%= ativan(@weight_in_kgs) %> mg</li>
        <li>Tylenol: <%= tylenol(@weight_in_kgs) %> mg</li>
      </ul>
    </div>
    <div class="watch-for">
      <h5>Watch for</h5>
      <ul>
        <li>Fever</li>
        <li>Mental status changes</li>
        <li>Trauma</li>
        <li>Hypoglycemia</li>
      </ul>
    </div>
    <div class="ask-parents">
      <h5>Ask parents</h5>
      <ul>
        <li>History of seizures?</li>
        <li>Recent fever?</li>
        <li>How long was the seizure?</li>
        <li>What did the seizure look like?</li>
      </ul>
    </div>
    <div class="be-sure-to">
      <h5>Be sure to</h5>
      <ul>
        <li>Check blood sugar</li>
        <li>Check temperature</li>
        <li>IV if afebrile</li>
        <li>12 lead EKG</li>
      </ul>
    </div>
  </div>
</section>