<section id="procedures">
  <h3>Procedures</h3>
  <table>
    <tr>
      <td class="drug-name">Defib (first):</td>
      <td class="equation"><%= @weight_in_kgs %> x 2 =</td>
      <td class="drug-dose"><%= defib_first(@weight_in_kgs) %> J</td>
    </tr>
    <tr>
      <td class="drug-name">Defib (next):</td>
      <td class="equation"><%= @weight_in_kgs %> x 4 =</td>
      <td class="drug-dose"><%= defib_second(@weight_in_kgs) %> J</td>
    </tr>
    <tr>
      <td class="drug-name">Cardiovert (first):</td>
      <td class="equation"><%= @weight_in_kgs %> x 0.5 =</td>
      <td class="drug-dose"><%= cardiovert_first(@weight_in_kgs) %> J</td>
    </tr>
    <tr>
      <td class="drug-name">Cardiovert (next):</td>
      <td class="equation"><%= @weight_in_kgs %> x 2 =</td>
      <td class="drug-dose"><%= cardiovert_second(@weight_in_kgs) %> J</td>
    </tr>
  </table>
</section>
