<style>body {background-color: #<%= weight_color(@weight_in_kgs)[:hex_color] %> ;}</style>

<%= erb :_weight %>
<%= erb :_vitals %>
<section id="call">
  <h3>Call</h3>
  <div class="call-container">
    <a href="tel:1111111111"><i class="fa fa-hospital-o fa-3x"></i><br>Children's</a>
    <a href="tel:1111111111"><i class="fa fa-plus-square fa-3x"></i><br>Lifeforce</a>
    <a href="tel:1111111111"><i class="fa fa-flask fa-3x"></i><br>Poison Ctrl</a>
  </div>
</section>
<%= erb :_conditions %>
<%= erb :_drugs %>
<%= erb :_procedures %>
